.ssh/
.vim/
.viminfo
.bash_history
.bash_logout
.bash_profile
.bashrc
.gitconfig

crawl/inc/db.inc.php

sync/inc/db.inc.php
sync/mysql-to-couchdb.log
sync/couchdb-to-mysql.log

alfa/application/configs/application.ini
admin/application/configs/application.ini
api/application/configs/application.ini

alfa/public/img/product/*

alfa/logs/*
