AddType x-mapp-php5 .php

Options -MultiViews
Options +FollowSymLinks

RewriteEngine On

SetEnv APPLICATION_ENV production

AuthUserFile /var/www/vhosts/checkinthings.com/httpdocs/admin/pma/.htpasswd
AuthType Basic
AuthName "Private Area"
Require valid-user
